body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color:#fff;
}

/* comentei o seguinte comando pois usei o ",section-title" para alterar a fonte. */

/* .navbar-brand {
    font-family: Pacifico, cursive;
} */

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

/* comentei pois vamos utilizar o valor ".text-colored" para os textos */
/* .section-title span {
    color:  #e15f41;
} */

#sobre-o-restaurante {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41;
}